<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ movie?.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="movie">
  <img *ngIf="movie.poster_path" [src]="img(movie.poster_path)">
  <div *ngIf="!movie.poster_path">No image</div>
  <h2>{{ movie.title }}</h2>
  <p>{{ movie.overview }}</p>
  <p><strong>Release:</strong> {{ movie.release_date }}</p>
  <p><strong>Rating:</strong> {{ movie.vote_average | number:'1.1-1' }}/10</p>

  <ion-button expand="block" (click)="toggleFavourite()">
    {{ isFav ? 'Remove From Favourites' : 'Add To Favourites' }}
  </ion-button>

  <h3>Cast</h3>
  <ion-list>
    <ion-item *ngFor="let person of cast" (click)="goToPerson(person.id)" button="true">
      <img *ngIf="person.profile_path" [src]="img(person.profile_path)" width="50">
      <div *ngIf="!person.profile_path">No image</div>

      <ion-label>
        {{ person.name }} as {{ person.character }}
      </ion-label>
    </ion-item>
  </ion-list>

  <h3>Crew</h3>
  <ion-list>
    <ion-item *ngFor="let person of crew" (click)="goToPerson(person.id)" button="true">
      <img *ngIf="person.profile_path" [src]="img(person.profile_path)" width="50">
      <div *ngIf="!person.profile_path">No image</div>

      <ion-label>
        {{ person.name }} — {{ person.job }}
      </ion-label>
    </ion-item>
  </ion-list>