<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Favourites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="favourites.length === 0">
    <p>No favourite movies yet.</p>
  </div>

  <ion-item *ngFor="let movie of favourites">

    <img *ngIf="movie.poster_path" [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" width="80">

    <div *ngIf="!movie.poster_path">
      No image
    </div>

    <ion-label>

      <h2>{{ movie.title }}</h2>

      <p>{{ movie.overview }}</p>

    </ion-label>

    <ion-button slot="end" [routerLink]="['/movie-details', movie.id]">

      Details

    </ion-button>

  </ion-item>