<ion-header>
  <ion-toolbar>
    <ion-title>G00472926</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/favourites']">
        <ion-icon name="heart" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <ion-searchbar placeholder="Search movies" (ionInput)="onSearch($event)">
  </ion-searchbar>

  <h2>{{ searching ? 'Search Results' : "Today's Trending Movies" }}</h2>
  <p *ngIf="searching && movies.length === 0">
    No movies found.
  </p>

  <ion-card *ngFor="let movie of movies" [routerLink]="['/movie-details', movie.id]">
    <img *ngIf="movie.poster_path" [src]="img(movie.poster_path)">
    <div *ngIf="!movie.poster_path">No image</div>
    <ion-card-header>
      <ion-card-title>{{ movie.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>{{ movie.overview }}</ion-card-content>
  </ion-card>
</ion-content>