<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ person?.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="person">
  <img *ngIf="person.profile_path" [src]="img(person.profile_path)">
  <div *ngIf="!person.profile_path">No image</div>

  <h2>{{ person.name }}</h2>

  <p *ngIf="person.birthday"><strong>Born:</strong> {{ person.birthday }}</p>
  <p *ngIf="person.deathday"><strong>Died:</strong> {{ person.deathday }}</p>
  <p *ngIf="person.place_of_birth"><strong>Place of Birth:</strong> {{ person.place_of_birth }}</p>

  <div *ngIf="person.also_known_as?.length">
    <h3>Also Known As</h3>
    <p>{{ person.also_known_as.join(', ') }}</p>
  </div>

  <div *ngIf="person.biography">
    <h3>Biography</h3>
    <p>{{ person.biography }}</p>
  </div>

  <div *ngIf="movies.length">
    <h3>Other Movies</h3>

    <ion-list>

      <ion-item *ngFor="let movie of movies" [routerLink]="['/movie-details', movie.id]">

        <img *ngIf="movie.poster_path" [src]="img(movie.poster_path)" width="50">

        <div *ngIf="!movie.poster_path">No image</div>

        <ion-label>
          {{ movie.title }}
        </ion-label>

      </ion-item>

    </ion-list>
  </div>
</ion-content>